body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.counter{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-bottom: 2rem;
}

.card{
    height: 150px;
    min-width: 100px ;
    aspect-ratio: 9/13;
    border: solid slategray 2px;
    border-radius: 20px;
    font-size: 6rem;
    margin: 5px;
    justify-content: center;
}
