body {
    padding: 0%;
}
.counter{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}

.card{
    width: 100px;
    height: 100px;
    border: solid slategray 2px;
    border-radius: 20px;
    vertical-align: middle;
    font-size: 2rem;
}
